.App {
  text-align: center;
  padding-top: 40px;
}
.input{
  display: flex;
}
.task{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin:5px;
  background: #89AAC3;
  border-radius: 5px;
  color:#251B37;
}
button{
  color:#251B37;
  outline: none;
  border-radius:7px;
  border: none;
  
  border-radius:7px;
  font-size: 12px;
}